<div class="col-md-8 ">
    <nav class="TopstoryTabs Topstory-tabs">
        <a aria-controls="Topstory-recommend" class="Btn TopstoryTabs-link Topstory-tabsLink is-active" href="/">推荐</a>
        <a aria-controls="Topstory-follow" class="TopstoryTabs-link Topstory-tabsLink" href="/follow">关注</a>
        <a aria-controls="Topstory-hot" class="TopstoryTabs-link Topstory-tabsLink" href="/hot">热榜</a>
    </nav>
    <div class="Card">
        123
    </div>
    <div class="Card">
    123
    </div>
</div>