<?php $title='疫情防控统计';?>

<!--<h2>班级统计</h2>-->
    <table>
    	<tr>
    		<th>班号</th>
    		<th><a href="/class/[:classes_id]">[$survey->classes]</a></th>
    	</tr>
    	<tr>
    		<th>班长</th>
    		<th><a href="/user/:id">[$survey->classes->monitor-name]</a></th>
    	</tr>

		<tr>
			<th>统计情况</th>
			<th>[]/[]</th>
			<!--健康人数/总人数-->
		</tr>
		<tr>
			<th>未参与统计人数</th>
			<th><a href="#">[$survey->]</a></th>
			<th>张三|李四|王五</a></th>
		</tr>
		<tr>
			<th>出现症状人数</th>
			<th><a href="#">[]</a></th>
		</tr>
    </table>


