
<form action="/user/update" method='post'>
	<table>
		<tr>
			<th>姓名</th>
			<th>{$user.name}</th>
		</tr>
		<tr>
			<th>学号</th>
			<th><input type='text' value="{$user.num}" disabled></th>
		</tr>
		<tr>
			<th>班号</th>
			<th><input type="text" value='{$user.classes_num}'></th>
		</tr>
		<tr>
			<th>手机号</th>
			<th><input type="text" value="{$user.phone}"></th>
		</tr>
		<tr>
			<th>健康状况</th>
			<th><textarea value='{$user.condition}'></textarea></th>
		</tr>
		<tr>
			<th><button type='submit' class='btn btn-primary' value='确认'>确认</button></th>
			<th><button class='btn btn-primary'>重置</button></th>
		</tr>
	</table>
</form>
